<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reseva</title>
</head>

<body>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <h1 style="text-align: center;">Formulário de Reserva</h1>
            <p>CNPJ: {{form.CNPJ}}</p>
            <p>Nome da Empresa: {{form.nome_empresa}}</p>
            <p>Categoria da Empresa: {{form.categoria_empresa}}</p>
            <p class="checkbox">Quitado: {{form.quitado}}</p>
            <p>Stand: {{form.stand}}</p>
            <button type="submit">Enviar</button>
        </div>
    </form>
    {%for obj in reser%}
</body>
</html>